.Cabeza{
    text-align = center;
}

.image-fondo-login {
    background-image: url("../images/salad-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-registro {
    background-image: url("../images/asparagus-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-plan {
    background-image: url("../images/food-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-dieta {
    background-image: url("../images/strawberries-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-perfil {
    background-image: url("../images/salmon-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-principal {
    background-image: url("../images/cook-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}