.Cabeza{
    text-align = center;
}

.image-fondo-login {
    background-image: url("../images/salad-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-registro {
    background-image: url("../images/asparagus-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-plan {
    background-image: url("../images/food-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-dieta {
    background-image: url("../images/strawberries-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-perfil {
    background-image: url("../images/salmon-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-fondo-principal {
    background-image: url("../images/cook-1920.jpg");
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.zoomIt {
    display: block !important;
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
    transition: transform 1s ease-out;
}

.zoomIt:hover {
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}