.fatsecret_container{
	font-family:Arial;
	font-size:12px
}

.fatsecret_container A{
	font-size:110%;
	color:#0073AD;
	line-height:18px;
	text-decoration:none
}

.fatsecret_container A:hover{
	text-decoration:underline
}

.fatsecret_container A .fatsecret_selected{
	color:#e45b00
}

.fatsecret_container .fatsecret_heading{
	font-family:Trebuchet MS, Arial;
	font-size:150%;
	font-weight:700;
	line-height:2em;
	vertical-align:middle;
	padding-left:2.5%;
	margin-bottom:10px
}

.fatsecret_container .fatsecret_subheading{
	font-family:Trebuchet MS, Arial;
	font-size:125%;
	font-weight:700;
	color:#555;
	line-height:18px
}

.fatsecret_container input .fatsecret_button{
	font-size:80%;
	height:18px;
	font-weight:700;
	padding:1px 2px 3px;
	text-align:center;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	vertical-align:middle
}

.fatsecret_footer{padding:10px 0 10px 2.5%;margin-top:5px}
.fatsecret_footer a{vertical-align:middle}
.fatsecret_warning{padding:10px;border:1px solid #ccc;background-color:#ffffce}
#fatsecret_nav{margin:0;padding:0;width:100%}
#fatsecret_nav td{text-align:center}
#fatsecret_nav a{line-height:2em;vertical-align:middle}
.fatsecret_calendar{font-size:125%;border-collapse:collapse;width:95%;margin:0 auto}
.fatsecret_calendar tr td{padding:2px}
.fatsecret_days_row td{width:14%;font-weight:700;text-align:center}
.fatsecret_other_row{height:80px;vertical-align:top}
.fatsecret_day_blank{background-color:#F2F2F2}
.fatsecret_day_today{background-color:#FFFFCE}
.fatsecret_day_other{background-color:#FFF}
.fatsecret_day_number{font-weight:700}
.fatsecret_day_content{font-size:75%;padding:0 4px 0 4px;text-align:right}
.fatsecret_day_exercise{color:#C05F5F;font-weight:700}
.fatsecret_day_food{color:#399941;font-weight:700}
.fatsecret_day_summary{margin-top:2px;cursor:default}
.fatsecret_day_net{float:right;padding:1px 0 0 4px}
.fatsecret_calendar_summary{width:95%;margin:0 auto}
.fatsecret_calendar_summary tr{vertical-align:top;padding-bottom:5px}
.fatsecret_summary_exercise{color:#399941}
.fatsecret_summary_food{color:#c05f5f}
.fatsecret_summary_nutrient{font-size:80%}
.fatsecret_calendar_header, .fatsecret_summary_label {font-weight:700}
.fatsecret_nextmonth{margin-right:2.5%;font-weight:700;float:right}
.fatsecret_previousmonth{margin-left:2.5%;font-weight:700}
.fatsecret_exercisediarysummary .fatsecret_accuracyselector{font-size:90%}
.fatsecret_exercisediarysummary .fatsecret_accuracyselector_button{vertical-align:middle}
.fatsecret_exercisediarysummary .fatsecret_dateselector{vertical-align:middle}
.fatsecret_exercise_defaultsetter{width:95%;margin:0 auto}
.fatsecret_exercise_defaultsetter_summary, .fatsecret_exercise_defaultsetter_summary_day_select {margin-left:10px;line-height:20px}
.fatsecret_exercise_defaultsetter_day{font-weight:700;width:100px}
.fatsecret_exercise_defaultsetter_value{text-align:right}
.fatsecret_exercise_defaultsetter_set_link{font-weight:700}
.fatsecret_exercise_defaultsetter_text{padding:5px 0}
.fatsecret_exercisediary{width:95%;margin:0 auto}
.fatsecret_exercisediary_header, .fatsecret_exercisediary_value {text-align:right;white-space:nowrap}
.fatsecret_exercisediary_header,.fatsecret_exercisediary_edit_change, .fatsecret_exercisediary_add_link {font-weight:700}
.fatsecret_exercisediary_entry ul{margin:0;padding:1px 0 1px 20px}
.fatsecret_exercisediary_edit, .fatsecret_exercisediary_add {background-color:#fdf7e8}
.fatsecret_exercisediary_edit{padding:7px 0 7px 20px}
.fatsecret_exercisediarysummary{width:95%;margin:0 auto}
.fatsecret_exercisediarydate_label{float:left;padding-right:10px}
div.fatsecret_frequentlyeatenwith{margin:5px}
div.fatsecret_frequentlyeatenwith ul{margin:0;padding-left:2.5%}
.fatsecret_nutritionpanel{border:2px solid #BCBCBC;background-color:#FFF}
.fatsecret_nutrition_table{border-collapse:collapse;width:98%;margin:0 auto}
.fatsecret_nutritionpanel tr{line-height:13px}
.fatsecret_nutritionpanel td{color:#555}
.fatsecret_border_top{border-top:1px solid #BCBCBC}
.fatsecret_seperator{background-color:#888;line-height:5px}
.fatsecret_nutritionpanel .fatsecret_first_seperator, .fatsecret_nutritionpanel .fatsecret_third_seperator {height:5px}
.fatsecret_second_seperator{height:2px}
.fatsecret_nutritionpanel_header{font-size:180%;font-weight:700;line-height:25px;font-family:Arial Black;letter-spacing:1px}
.fatsecret_amount_per_serving, .fatsecret_daily_values {font-size:80%}
.fatsecret_amount_per_serving,.fatsecret_calories_label, .fatsecret_daily_values,.fatsecret_lvl_one_label, .fatsecret_perc_value {font-weight:700}
.fatsecret_nutritionpanel .fatsecret_perc_daily_note{font-size:75%}
.fatsecret_foodget_search_input{width:50%;vertical-align:middle}
.fatsecret_servingentry{width:100%;margin-top:5px}
.fatsecret_servingentry tr{height:25px}
.fatsecret_servingentry_label{font-weight:700}
.fatsecret_servingentry_amount_input{width:10%}
.fatsecret_servingentry_portion_input{width:85%}
.fatsecret_servingselector{margin:5px}
.fatsecret_servingselector ul{margin:0;padding-left:2.5%}
.fatsecret_alternate_serving{font-size:90%;color:#555}
.fatsecret_servingdescription{text-transform:capitalize;font-size:90%;line-height:18px;color:#555}
.fatsecret_foodget{width:95%;margin:0 auto}
.fatsecret_foodget td{vertical-align:top}
.fatsecret_foodget_left{width:40%}
.fatsecret_foodget_right{padding-left:10px}
.fatsecret_foodget_search_label{float:left;padding-right:5px}
.fatsecret_fooddiarybulk_summary .fatsecret_dateselector{vertical-align:middle}
.fatsecret_fooddiarybulk_eaten_link{font-weight:700}
.fatsecret_fooddiarybulk{width:95%;margin:0 auto}
.fatsecret_fooddiarybulk_header_row{font-weight:700}
.fatsecret_fooddiarybulk tr.selected td{background-color:#fdf7e8}
.fatsecret_row_first{padding-top:5px}
.fatsecret_row_second{padding-bottom:5px}
.fatsecret_fooddiarybulk_qty_entry{width:20px}
.fatsecret_fooddiarybulk_buttonarea{padding:5px 0}
.fatsecret_fooddiarybulk_summary{width:95%;margin:0 auto}
.fatsecret_fooddiarybulkdate_label{float:left;padding-right:10px}
.fatsecret_sortbymeal_label{font-weight:700}
.fatsecret_fooddiarysummary .fatsecret_accuracyselector{font-size:90%}
.fatsecret_fooddiarysummary .fatsecret_accuracyselector_button{vertical-align:middle}
.fatsecret_fooddiarysummary .fatsecret_dateselector{vertical-align:middle}
.fatsecret_fooddiary{width:95%;margin:0 auto}
.fatsecret_fooddiary_delete{float:right;padding-top:2px}
.fatsecret_fooddiary_entry ul, .fatsecret_fooddiary_add_choose_fav ul, .fatsecret_fooddiary_add_choose_recent ul {margin:0;padding-left:20px}
.fatsecret_fooddiary_add_active{background-color:#fdf7e8}
.fatsecret_fooddiary_add_link, .fatsecret_fooddiary_add_multiple_link,.fatsecret_fooddairy_results_link,.fatsecret_fooddairy_results_more_link{font-weight:700}
.fatsecret_fooddiary_add_copy_previous,.fatsecret_fooddiary_add_choose_fav,.fatsecret_fooddiary_add_choose_recent,.fatsecret_fooddiary_add_find_food{padding:7px 0 7px 5px}
.fatsecret_fooddiary_add_find_food_input{width:200px;vertical-align:middle}
.fatsecret_fooddairy_add_table,.fatsecret_fooddairy_results_table{border:1px solid #ccc;background-color:#fff;width:95%;margin:10px auto}
.fatsecret_fooddiary_add_entry_name_input{width:90%}
.fatsecret_fooddiary_add_quantity_input{width:30px}
.fatsecret_fooddiary_loading,.fatsecret_fooddiary_searching{background-color:#fdf7e8;padding:20px;font-weight:700}
.fatsecret_fooddiary_search_results{padding:7px 0 20px 5px;background-color:#fdf7e8}
.fatsecret_fooddiarysummary{width:95%;margin:0 auto}.fooddiary_first{width:50%}
.fatsecret_fooddiarydate_label{float:left;padding-right:10px}
.fatsecret_nutrient_label, .fatsecret_nutrient_value {font-size:90%}
.fatsecret_nutrient_value{font-weight:700}
.fatsecret_nutrient_value td{width:50px}
.fatsecret_foodsearch_results{width:95%;margin:10px auto;padding:3px 0}
.fatsecret_foodsearch_total, .fatsecret_foodsearch_result_paging_link, .fatsecret_foodsearch_result_paging_label, .fatsecret_foodsearch_result_highlight {font-weight:700}
.fatsecret_foodsearch_result_paging{padding:5px 0}
.fatsecret_foodsearch_search{padding:7px 0 7px 2.5%}
.fatsecret_foodsearch_search_input{width:70%;vertical-align:middle}
.fatsecret_home_search{padding:7px 0 7px 2.5%}
.fatsecret_home_search_input{width:70%;vertical-align:middle}
.fatsecret_home_heading{padding-left:2.5%}
.fatsecret_home_summary{width:95%;margin:10px auto;padding:0px 10px}
.fatsecret_home_summary tr{height:30px}
.fatsecret_home_summary tr td{width:50%}
.fatsecret_home_header{font-weight:700}
.fatsecret_signin{padding-left:2.5%}
.fatsecret_weighin{width:95%;margin:0 auto}
.fatsecret_weighin tr td{vertical-align:top}
.fatsecret_weighin_label{font-weight:700;white-space:nowrap}
.fatsecret_weighin_input{padding-left:10px;width:100%}
.fatsecret_weighin_buttonarea{padding:5px 0}
.fatsecret_weighin_graph{width:95%;margin:0 auto;text-align:center}
.fatsecret_weight_history{clear:both;width:95%;margin:0 auto}
.fatsecret_weight_history tr{padding:1px 0}
.fatsecret_weight_history_heading{font-weight:700;white-space:nowrap}
.fatsecret_weight_history_label{font-style:italic}
.fatsecret_no_history{padding-left:2.5%}
.fatsecret_weighinlink{float:right;padding:5px 2.5% 10px 0}